#_builder-form, .hl-app .ghl-survey-form, 
form#_builder-form.ghl-survey-form {
    background: #fff !important
}
.ghl-form-wrap:has(.ghl-survey-form), 
.hl-app .ghl-survey-form, form.ghl-form-wrap.ghl-survey-form {
    background: #fff !important
}

#_builder-form .ghl-question-set .ghl-question {
      box-shadow: none!important;
}

.hl_form-builder--main > div,
#_builder-form { 
max-width: 770px !important;}

.thank-you-message {
  box-shadow:  0px 0px 0px 0px #00000026;
  background-color: #fff;
  padding: 40px;
}
