/*jotform base mods*/

#_builder-form, .hl-app .ghl-survey-form, form#_builder-form.ghl-survey-form {
    background: transparent !important
}

#_builder-form #progress_bar, #_builder-form .jtform .ghl-progress-bar-background {
    display: none
}

#_builder-form .ghl-question-set .ghl-question {
    box-shadow: -1px 15px 33px 4px rgb(0 0 0 / 15%);
   border-radius: 6px;
   border-color: #fff
}

#_builder-form .ghl-question .step {
    display: none
}

#_builder-form .ghl-question .menu-field-wrap:last-child {
   display: flex;
   justify-content: center;
}

#_builder-form .form-builder--wrap-questions .form-builder--item .option-radio label

{
 color: #323232 !important
}

#_builder-form .ghl-question .option-radio
 {
    background-color: 
    white !important;
}

#_builder-form .option-radio input + label::after
{
    --option-radio-bg: #a9b3c6;
    border: 2px solid var(--option-radio-bg);
}

#_builder-form .form-builder--wrap-questions .form-builder--item label:nth-child(1)
{
    display: flex;
    justify-content: center;
}

div.form-builder--item.form-builder--item-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.form-builder--item.form-builder--item-input label {
   flex: 0 0 100%;
   text-align: center;
}

div.form-builder--item.form-builder--item-input div.option-radio {
   flex: 0 0 45%;
}


/* additional edits */

.hl-app #_builder-form .ghl-footer, .ghl-footer {
    background-color: #000000;
}

div.form-builder--item.form-builder--item-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.form-builder--item.form-builder--item-input label {
   flex: 0 0 100%;
   text-align: center;
}

div.form-builder--item.form-builder--item-input div.option-radio {
   flex: 0 0 45%;
}


#_builder-form .hl-app .ghl-question-set .ghl-question, #_builder-form .ghl-question-set .ghl-question {
background-color:#ffffff!important;
}

#_builder-form .form-builder--item input[type=text][class=form-control], #_builder-form .form-builder--item .date-picker-custom-style, textarea, #_builder-form input[type=number], #_builder-form input[type=tel], #_builder-form input[type=email], #_builder-form .multiselect .multiselect__tags, #_builder-form .form-control {
background-color: #F0F0F0!important;
}

 

/* SMS consent line fix */

.loader-container + section #_builder-form .menu-field-wrap .form-builder--item .in-r-c { width: 350px }

@media screen and (max-width:439px)
{
div.form-builder--item.form-builder--item-input div.option-radio {flex:100%;}

#_builder-form .ghl-question .option-radio {
margin-right: 0 !important;}

.loader-container + section #_builder-form .menu-field-wrap .form-builder--item .in-r-c { width: 250px; }
}
